@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-conv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /************************************/
}
.conversor-pol {
    background-color: #007fc7;
    width: 46%;
    height: 50vh;
    border-radius: 20px;
    margin: 20px;
}

.t-conversor {
    text-align: center;
    color: white;
    font-size: 1em;
    position: relative;
    top: 3vh;
    font-weight: lighter;
}
.bg-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#resultado {
    color: white;
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 1.5em;
}
#polegadas {
    border: 0;
    height: 5vh;
    border-radius: 10px;
    position: relative;
    top: 50px;
    width: 80%;
}

.sessao2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #007fc7;
    height: 400px;
}
.input-perfil {
    height: 50px;
    position: relative;
    border-radius: 10px;
    border: 1px solid gray;
}

.bg-perfil {
    background-color: white;
    height: 40vh;
    border-radius: 20px;
    width: 50%;
}
.t-perfil {
    text-align: center;
    position: relative;
    top: 20px;
}
.bg-inp-per {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
}