@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

html::-webkit-scrollbar{
    display: none;
}

body {
    background-color: #121212;
}

.clock-container {
    position: relative;
    top: 10vh;
    text-align: center;
}

.clock-element {
    font-size: 2em;
    margin: 10px 0;
    color: #616161;
}

#dayOfWeek {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#date {
    font-size: 1.2em;
    letter-spacing: 1px;
}

#time {
    font-size: 3em;
    font-weight: bold;
}

.bg-btn-limpar {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 25vh;
}
.btn-limpar {
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    width: 18%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    letter-spacing: 2px;
    cursor: pointer;
    display: none;
}
.btn-limpar:hover {
    transform: scale(1.1);
}

.sessao1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}
.conversor-pol {
    background-color: #1e1e1e;
    cursor: pointer;
    position: relative;
    width: 46%;
    height: 50vh;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.322);
}

.t-conversor {
    text-align: center;
    color: #e0e0e0;
    position: relative;
    top: 3vh;
    font-weight: lighter;
}
.bg-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#resultado {
    color: white;
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 2em;
}
#polegadas {
    border: 0;
    height: 5vh;
    border-radius: 10px;
    position: relative;
    top: 50px;
    width: 80%;
    background-color: #616161;
}
.input-perfil {
    border: 0;
    height: 5vh;
    border-radius: 10px;
    position: relative;
    top: 50px;
    width: 80%;
    background-color: #616161;
}
::placeholder {
    color: #b3b3b3;
}

.bg-perfil {
    background-color: #1e1e1e;
    position: relative;
    cursor: pointer;
    width: 46%;
    height: 50vh;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.322);
}
.bg-perfil::before, .conversor-pol::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: -170px;
    top: 100%;
}
.bg-perfil::before {
    background-color: #ff5500;
}
.conversor-pol::before {
    background-color: #007fc7;
}

.bg-perfil:hover::before, .conversor-pol:hover::before {
    animation: desloca .5s;
    left: 0;
    top: 0;
}

.bg-perfil:hover .t-perfil {
    color: white;
}
.conversor-pol:hover .t-conversor {
    color: white;
}
.bg-perfil:hover .input-perfil {
    background-color: white;
}
.conversor-pol:hover #polegadas {
    background-color: white;
}
.bg-perfil:hover ::placeholder {
    color: black;
}
.conversor-pol:hover ::placeholder {
    color: black;
}
.bg-perfil:hover .btn-limpar {
    transition: 0.2s;
    display: flex;
}
.conversor-pol:hover .btn-limpar {
    transition: 0.2s;
    display: flex;
}

@keyframes desloca {
    0% {
        left: -170px;
        top: 100%;
    }
    50% {
        left: 15%;
        top: -25%;
    }
    100% {
        left: 0;
        top: 0;
    }
}

.t-perfil {
    text-align: center;
    position: relative;
    top: 20px;
    color: #e0e0e0;
    font-weight: lighter;
}
.bg-inp-per {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.resultado-perfil {
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 2em;
    color: white;
}

.bg-ferramentas {
    display: flex;
    width: 100%;
}

/********* SESSÃO 2 ************/
.sessao2 {
    background-color: #121212;
    width: 100%;
    height: 100vh;
}

.t-s2 {
    color: #e0e0e0;
    width: 100%;
    text-align: center;
    position: relative;
    top: 5vh;
    font-size: 2em;
}

.bg-ilustracao-e-texto-furo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ilustracao-furo {
    position: relative;
    top: 15vh;
    left: 5%;
    max-width: 100%;
    height: auto;
    display: block;
}
.linha {
    position: relative;
    top: 31vh;
    width: 1px;
    height: 50vh;
    background-color: #b3b3b3;
}

.p-furo {
    font-size: 1em;
    position: relative;
    top: 15vh;
    right: 5%;
    color: #b3b3b3;
    width: 40%;
    display: flex;
    align-items: center;
}


/********* SESSÃO 3 ************/
.sessao3 {
    background-color: #121212;
    width: 100%;
    height: 100vh;
}
.t-s3 {
    color: #e0e0e0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    position: relative;
    top: 5vh;
}
.pronest {
    color: #ff5500;
}